
.creationForm{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creationForm button{
    margin: 17px 0;
}

.creationForm__description{   
    color: #7b7b7b;
    margin: 15px 0 30px 0;
}

@media screen and (max-width:600px) {
     .creationForm{
        width: 450px;
        max-width: 90%;
     }

    .creationForm__title{
        font-size: 35px;    
    }

    .creationForm__description{
        font-size: 16px;
    }
}
