.submitButton{
    height: 35px;
    background-color: #222;
    color: white;
    border: 0;
    width: 110px;
    cursor: pointer;
    font-size: 15px;
}

.submitButton--enlarged{
    width: 140px;
    height: 40px;
    border-radius: 0;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    transition: .3s;

    &:hover{
        color: #ffbb33;
    }
}

@media screen and (max-width:600px) {
    .submitButton{
        height: 40px;
    }
}