:root{
    --headerBackgroundColor:#222;
    --colorWhite:white; 
    --colorOrange:#ffbb33;
}

.navbar{
    background-color: var(--headerBackgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 6%;
    color: var(--colorWhite);
}

.navbar > a{
    height: 64px;
}

.navbar__logo{
    width: 100%;
    height: 100%;
}

.navbar__links{
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    
    & a {
        color: var(--colorWhite);
        text-decoration: none;
        font-weight: bold;
        cursor:pointer
    }
}

.navbar__links a:hover{
    color: var(--colorOrange);
}

.navbar__links--dropdown{
    display: none;
    height: 0;
    flex-direction: column;
    gap: 0;
    position: absolute;
    right: 0;
    top: 104px;
    background-color: var(--headerBackgroundColor);
    overflow: hidden;
    transition: .5s;
}

.navbar__links--dropdown.show{
    height: 208px;
}

.navbar__links--dropdown a{
    padding:15px 20px;
    cursor:pointer;
    transition: .5s;
    
    &:hover{
        color: var(--headerBackgroundColor);
        background-color: var(--colorWhite);
    }
}
 
.menuToggle{
    width: 25px;
    display: none;
    cursor: pointer;
    transition: .5s;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.clicked .menuToggle__line:nth-of-type(1){
    transform:translate(0, 8px) rotate(44deg);
}

.clicked .menuToggle__line:nth-of-type(3){
    transform:translate(0, -8px) rotate(-44deg);
}

.clicked .menuToggle__line:nth-of-type(2){
    width: 0;
}

.menuToggle__line{
    width: 100%;
    height: 3px;
    background-color: var(--colorWhite);
    transition: .6s;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 50px 0;
}

footer{
    background-color: var(--headerBackgroundColor);
    color: white;
    text-align: center;
    padding: 30px;
}

.iconsList{
    width: min-content;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: auto;
}

.iconsList__item{
    font-size: 25px;
    cursor: pointer;

    &:hover{
        color: var(--colorOrange);
    }
}

footer > p{
    margin-top: 30px;

    & > span{
        color: var(--colorOrange);
        font-weight: bold;
    }
}
